[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "rcheevos"]
	path = rcheevos
	url = https://github.com/redwizard42/rcheevos-tmo.git
	branch = accumulator
[submodule "lua"]
	path = lua
	url = https://github.com/lua/lua.git
[submodule "GSL"]
	path = GSL
	url = https://github.com/Microsoft/GSL.git
[submodule "RAInterface"]
	path = RAInterface
	url = https://github.com/RetroAchievements/RAInterface.git
