#################
# Miscellaneous #
#################
/RetroAchievementsKey
src/RA_BuildVer.h
overlay/
*.wav
*.mp3
*.midi

######################
# Output Directories #
######################
.vs/
obj/
bin/

###########
# Windows #
###########
Thumbs.db

#############################
# Other Visual Studio Files #
#############################
*.user
*.aps
*.vspscc
*_i.c
*_p.c
*.ncb

###################
# Build Artifacts #
###################
*.cache
*.class
*.com
*.dll
*.exe
*.exp
*.ilk
*.iobj
*.lib
*.obj
*.pch
*.pdb
*.sbr
*.tlb
*.tlh

######################
# Logs and Databases #
######################
*.log
*.sql
*.sqlite
*.bak
*.db
*.suo
*.ipch
*.mdf
*.ldf